<div class="container-fluid" style="background-color: rgba(0,128,0,0.15)">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10" style="background-color: white">
      <div class="row">
        <div class="col-sm-6">
          <img width="100%" height="450px" src="{{productType.image1}}" alt="">

          <div class="row mt-2 mb-1">
            <div class="col-sm-6">
              <img width="100%" src="{{productType.image2}}" alt="">
            </div>
            <div class="col-sm-6">
              <img width="100%" src="{{productType.image3}}" alt="">
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <h1 style="font-family: Averta,Helvetica,sans-serif; font-weight: bold; color: green">{{productType.typeName}}</h1>
          <h2 style="font-family: Averta,Helvetica,sans-serif; font-weight: bold; color: red">
            Giá : {{realPrice | currency}} VNĐ</h2>
          <div style="border: 1px solid green">
            <h3 style="font-weight: bold; margin: 2% 0 0 5%">Kích thước (cm) :</h3>
            <div class="row">
              <div class="size" [hidden]="flagSize === 1" (click)="chooseSize(1)">
                <h4 style="margin: 7px 15px 10px 27px">120 x 200</h4>
              </div>
              <div class="size" [hidden]="flagSize !== 1" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">120 x 200</h4>
              </div>

              <div class="size" [hidden]="flagSize === 2" (click)="chooseSize(2)">
                <h4 style="margin: 7px 15px 10px 27px">140 x 200</h4>
              </div>
              <div class="size" [hidden]="flagSize !== 2" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">140 x 200</h4>
              </div>

              <div class="size" [hidden]="flagSize === 3" (click)="chooseSize(3)">
                <h4 style="margin: 7px 15px 10px 27px">160 x 200</h4>
              </div>
              <div class="size" [hidden]="flagSize !== 3" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">160 x 200</h4>
              </div>
            </div>

            <div class="row mt-2">
              <div class="size" [hidden]="flagSize === 4" (click)="chooseSize(4)">
                <h4 style="margin: 7px 15px 10px 27px">180 x 200</h4>
              </div>
              <div class="size" [hidden]="flagSize !== 4" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">180 x 200</h4>
              </div>

              <div class="size" [hidden]="flagSize === 5" (click)="chooseSize(5)">
                <h4 style="margin: 7px 15px 10px 27px">200 x 200</h4>
              </div>
              <div class="size" [hidden]="flagSize !== 5" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">200 x 200</h4>
              </div>
            </div>

            <h3 style="font-weight: bold; margin: 2% 0 0 5%">Độ dày (cm) :</h3>

            <div class="row">
              <div class="size" [hidden]="flagThick === 1" (click)="chooseThick(1)">
                <h4 style="margin: 7px 15px 10px 55px">5</h4>
              </div>
              <div class="size" [hidden]="flagThick !== 1" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 55px">5</h4>
              </div>

              <div class="size" [hidden]="flagThick === 2" (click)="chooseThick(2)">
                <h4 style="margin: 7px 15px 10px 55px">10</h4>
              </div>
              <div class="size" [hidden]="flagThick !== 2" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 55px">10</h4>
              </div>

              <div class="size" [hidden]="flagThick === 3" (click)="chooseThick(3)">
                <h4 style="margin: 7px 15px 10px 55px">15</h4>
              </div>
              <div class="size" [hidden]="flagThick !== 3" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 55px">15</h4>
              </div>
            </div>

            <hr style="border: 0.5px solid green; margin-top: 33px">

            <div class="row mb-3">
              <div class="col-sm-6">
                <h3 style="font-weight: bold; margin: 2% 0 0 11%">Số lượng :</h3>
                <h3 style="font-weight: bold; margin: 2% 0 0 11%">
                  <i class="fa fa-minus-square" aria-hidden="true" style="font-size: 25px"
                     (click)="changeAmount(1)"></i>
                  <span class="ml-3 mr-3" style="font-size: 25px; color: green">{{amount}}</span>
                  <i class="fa fa-plus-square" aria-hidden="true" style="font-size: 25px"
                     (click)="changeAmount(2)"></i>
                </h3>
              </div>
              <div class="col-sm-6">
                <h3 style="font-weight: bold; margin: 2% 0 0 17%">Tình trạng :</h3>
                <div class="status ml-5">
                  <h4 style="color: green; margin: 4px 0 0 17px">Còn hàng</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center mt-5">
            <button class="btn-success" *ngIf="role !== 'Employee' && role !== 'Customer'"
                    (click)="openNoticePage('Cần đăng nhập trước khi mua sản phẩm !')"
                    style="width: 90%; height: 50px; border-radius: 10px; border: 1px solid green">
              <span style="font-size: 22px">Mua ngay</span>
            </button>

            <button class="btn-success" *ngIf="role === 'Employee'"
                    style="width: 90%; height: 50px; border-radius: 10px; border: 1px solid green">
              <span style="font-size: 22px">Mua ngay</span>
            </button>

            <button class="btn-success" (click)="saveCart()" *ngIf="role === 'Customer'"
                    style="width: 45%; height: 50px; border-radius: 10px; border: 1px solid green; margin-right: 15px">
              <span style="font-size: 22px">Thêm giỏ hàng</span>
            </button>

            <button class="btn-success" *ngIf="role === 'Customer'"
                    style="width: 45%; height: 50px; border-radius: 10px; border: 1px solid green;
                    background-color: rgba(255,0,0,0.77)">
              <span style="font-size: 22px">Mua ngay</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row justify-content-center mt-5">
        <h1 style="font-weight: bold; color: green">Tại sao lại chọn Kymdan Khai Nguyên</h1>
      </div>

      <div class="row">
        <div class="col-sm-3" style="text-align: center">
          <img src="https://vuanem.com/image/footer/footer_top_1.png">
          <h3 style="font-size: 20px">60 giây</h3>
          <h2 style="font-weight: bold; margin-top: -22px">chọn nệm</h2>
          <h4 style="font-family: Averta,Helvetica,sans-serif">Cùng Kymdan Khai Nguyên đi tìm chiếc nệm phù hợp nhất với
            bạn và gia đình chỉ trong vài bước đơn giản</h4>
        </div>

        <div class="col-sm-3" style="text-align: center">
          <img src="https://vuanem.com/image/footer/footer_top_2.png">
          <h3 style="font-size: 20px">365 đêm</h3>
          <h2 style="font-weight: bold; margin-top: -22px">nằm thử</h2>
          <h4 style="font-family: Averta,Helvetica,sans-serif">Hãy “làm quen” với người bạn đồng hành trong hành trình
            đi tìm giấc mơ đẹp nào</h4>
        </div>

        <div class="col-sm-3" style="text-align: center">
          <img src="https://vuanem.com/image/footer/footer_top_31.png">
          <h3 style="font-size: 20px">Trả góp</h3>
          <h2 style="font-weight: bold; margin-top: -22px">0% lãi suất</h2>
          <h4 style="font-family: Averta,Helvetica,sans-serif">Ngủ ngon mà vẫn dày ví, xua tan nỗi lo tài chính khi sử
            dụng những sản phẩm cao cấp, chất lượng</h4>
        </div>

        <div class="col-sm-3" style="text-align: center">
          <img src="https://vuanem.com/image/footer/footer_top_4.png">
          <h3 style="font-size: 20px">Vận chuyển</h3>
          <h2 style="font-weight: bold; margin-top: -22px">miễn phí</h2>
          <h4 style="font-family: Averta,Helvetica,sans-serif">Giao hàng tận giường, miễn phí các đơn hàng từ 1.000.000đ
            trở lên đối với tất cả sản phẩm</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
