<div class="container-fluid bg-white">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="row border bg-light" style="border-radius: 20px">
        <div class="col-sm-6">
          <div class="pt-5">
            <div class="pt-5 d-flex justify-content-center">
              <h1 style="color: green">Đăng nhập</h1>
            </div>
            <div>
              <div class="row justify-content-center">
                <mat-error>{{thongBao}}</mat-error>
              </div>
              <div class="row d-flex justify-content-center">
                <form (ngSubmit)="dangNhap()" [formGroup]="formDangNhap">
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <mat-label>Tên đăng nhập<sup class="text-danger"> *</sup></mat-label>
                        <input matInput formControlName="tenDangNhap">
                        <mat-error *ngIf="formDangNhap.controls.tenDangNhap.errors?.required">
                          Tên đăng nhập không được để trống !
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <mat-form-field class="example-full-width">
                        <mat-label>Mật khẩu<sup class="text-danger"> *</sup></mat-label>
                        <input type="password" matInput formControlName="matKhau">
                        <mat-error *ngIf="formDangNhap.controls.matKhau.errors?.required">
                          Mật khẩu không được để trống !
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="pt-3" style="text-align: center">
                    <button mat-button type="submit" class="mb-3">Đăng nhập</button><br>
                    <a style="color: red" (click)="quenMatKhau()" [routerLink]="['/dang-nhap']">Quên mật khẩu ?</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pr-0">
          <img src="assets/sanPham3.jpg" style="width: 100%" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
