<div class="container-fluid" *ngIf="quyen == 'Khách Hàng' || quyen == 'Nothing'"
     style="background-color: rgba(0,128,0,0.15)">
  <div class="row">
    <div class="col-sm-1"></div>

    <div class="col-sm-10" style="background-color: white">
      <div class="row">
        <div class="col-sm-6">
          <img width="100%" height="450px" src="{{loaiSanPham.hinh1}}" alt="">

          <div class="row mt-2 mb-1">
            <div class="col-sm-6">
              <img width="100%" src="{{loaiSanPham.hinh2}}" alt="">
            </div>
            <div class="col-sm-6">
              <img width="100%" src="{{loaiSanPham.hinh3}}" alt="">
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <h1 style="font-family: Averta,Helvetica,sans-serif; font-weight: bold; color: green">
            {{loaiSanPham.ten}}
          </h1>

          <div class="row">
            <div class="col-sm-6">
              <p style="font-family: Averta,Helvetica,sans-serif; font-size: 15px" *ngIf="giaBanHienThi != ''">
                <del>{{giaHienThi}} VND</del></p>
              <h1 style="font-family: Averta,Helvetica,sans-serif; color: red; font-weight: bold"
                  *ngIf="giaBanHienThi != ''">
                {{giaBanHienThi}} VND
              </h1>
              <h1 style="font-family: Averta,Helvetica,sans-serif; color: red; font-weight: bold"
                  *ngIf="giaBanHienThi == ''">
                {{giaHienThi}} VND
              </h1>
            </div>

            <div class="col-sm-6" style="position: relative; text-align: right" *ngIf="giaBanHienThi != ''">
              <p style="font-size: 15px; margin-left: 249px; margin-top: 14px; position: absolute">
                -
              </p>
              <p style="font-size: 15px; margin-left: 254px; margin-top: 14px; position: absolute"
                 *ngIf="chiTietKhuyenMai.giamGia > 9">
                {{chiTietKhuyenMai.giamGia}}
              </p>
              <p style="font-size: 15px; margin-left: 259px; margin-top: 14px; position: absolute"
                 *ngIf="chiTietKhuyenMai.giamGia < 10">
                {{chiTietKhuyenMai.giamGia}}
              </p>
              <p style="font-size: 15px; margin-left: 271px; margin-top: 14px; position: absolute">
                %
              </p>
              <i class="fa fa-bookmark" aria-hidden="true" style="font-size: 63px; color: orangered"></i>
            </div>
          </div>

          <div style="border: 1px solid green">
            <h3 style="font-weight: bold; margin: 2% 0 0 5%">Kích thước (cm) :</h3>
            <div class="row">
              <div class="size" [hidden]="kichThuoc === '120x200'" (click)="chonKichThuoc('120x200')">
                <h4 style="margin: 7px 15px 10px 27px">120x200</h4>
              </div>
              <div class="size" [hidden]="kichThuoc !== '120x200'" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">120x200</h4>
              </div>

              <div class="size" [hidden]="kichThuoc === '140x200'" (click)="chonKichThuoc('140x200')">
                <h4 style="margin: 7px 15px 10px 27px">140x200</h4>
              </div>
              <div class="size" [hidden]="kichThuoc !== '140x200'" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">140x200</h4>
              </div>

              <div class="size" [hidden]="kichThuoc === '160x200'" (click)="chonKichThuoc('160x200')">
                <h4 style="margin: 7px 15px 10px 27px">160x200</h4>
              </div>
              <div class="size" [hidden]="kichThuoc !== '160x200'" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">160x200</h4>
              </div>
            </div>

            <div class="row mt-2">
              <div class="size" [hidden]="kichThuoc === '180x200'" (click)="chonKichThuoc('180x200')">
                <h4 style="margin: 7px 15px 10px 27px">180x200</h4>
              </div>
              <div class="size" [hidden]="kichThuoc !== '180x200'" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">180x200</h4>
              </div>

              <div class="size" [hidden]="kichThuoc === '200x200'" (click)="chonKichThuoc('200x200')">
                <h4 style="margin: 7px 15px 10px 27px">200x200</h4>
              </div>
              <div class="size" [hidden]="kichThuoc !== '200x200'" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 27px">200x200</h4>
              </div>
            </div>

            <h3 style="font-weight: bold; margin: 2% 0 0 5%">Độ dày (cm) :</h3>

            <div class="row">
              <div class="size" [hidden]="doDay === '5'" (click)="chonDoDay('5')">
                <h4 style="margin: 7px 15px 10px 55px">5</h4>
              </div>
              <div class="size" [hidden]="doDay !== '5'" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 55px">5</h4>
              </div>

              <div class="size" [hidden]="doDay === '10'" (click)="chonDoDay('10')">
                <h4 style="margin: 7px 15px 10px 55px">10</h4>
              </div>
              <div class="size" [hidden]="doDay !== '10'" style="background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 55px">10</h4>
              </div>

              <div class="size" [hidden]="doDay === '15'" (click)="chonDoDay('15')">
                <h4 style="margin: 7px 15px 10px 55px">15</h4>
              </div>
              <div class="size" [hidden]="doDay !== '15'" style=" background-color: rgba(0,128,0,0.55)">
                <h4 style="margin: 7px 15px 10px 55px">15</h4>
              </div>
            </div>

            <hr style="border: 0.5px solid green; margin-top: 33px">

            <div class="row mb-3">
              <div class="col-sm-6">
                <h3 style="font-weight: bold; margin: 2% 0 0 11%">Số lượng mua :</h3>
                <div class="row">
                  <h3 style="font-weight: bold; margin: 2% 0 0 15%">
                    <i class="fa fa-minus-square" aria-hidden="true" style="font-size: 25px; color: rgb(179,179,179)"
                       (click)="chonSoLuong(1)"></i>
                  </h3>

                  <form class="ml-3 mr-3" [formGroup]="formSoLuong">
                    <input style="font-size: 25px; color: green; width: 39px"
                           formControlName="soLuong" [value]="formSoLuong.value.soLuong"
                           (ngModelChange)="nhapSoLuong()">
                  </form>

                  <h3 style="font-weight: bold; margin-top: 2%">
                    <i class="fa fa-plus-square" aria-hidden="true" style="font-size: 25px; color: rgb(179,179,179)"
                       (click)="chonSoLuong(2)"></i>
                  </h3>
                </div>
                <mat-error *ngIf="formSoLuong.controls.soLuong.errors?.required" style="margin-left: 4%">
                  Số lượng mua không đươc để trống.
                </mat-error>
                <mat-error *ngIf="formSoLuong.controls.soLuong.errors?.pattern" style="margin-left: 12%">
                  Chỉ được nhập số.
                </mat-error>
              </div>
              <div class="col-sm-6">
                <h3 style="font-weight: bold; margin: 2% 0 0 17%">Số lượng tồn :</h3>
                <div class="ml-5">
                  <h2 style="color: green">{{sanPham.soLuong}} sản phẩm</h2>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center mt-5" *ngIf="formSoLuong.valid">
            <button class="btn-success" *ngIf="quyen !== 'Khách Hàng'"
                    (click)="hienThongBao('Cần đăng nhập trước khi mua sản phẩm !')"
                    style="width: 90%; height: 50px; border-radius: 10px; border: 1px solid green">
              <span style="font-size: 22px">Mua ngay</span>
            </button>

            <button class="btn-success" (click)="luuGioHang()" *ngIf="quyen === 'Khách Hàng'"
                    style="width: 45%; height: 50px; border-radius: 10px; border: 1px solid green; margin-right: 15px">
              <span style="font-size: 22px">Thêm giỏ hàng</span>
            </button>

            <button class="btn-success" *ngIf="quyen === 'Khách Hàng'" (click)="muaHang()"
                    style="width: 45%; height: 50px; border-radius: 10px; border: 1px solid green;
                    background-color: rgba(255,0,0,0.77)">
              <span style="font-size: 22px">Mua ngay</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-1"></div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row justify-content-center mt-5">
        <h1 style="font-weight: bold; color: green">Tại sao lại chọn Kymdan Khai Nguyên</h1>
      </div>

      <div class="row">
        <div class="col-sm-3" style="text-align: center">
          <img src="https://vuanem.com/image/footer/footer_top_1.png">
          <h3 style="font-size: 20px">60 giây</h3>
          <h2 style="font-weight: bold; margin-top: -22px">chọn nệm</h2>
          <h4 style="font-family: Averta,Helvetica,sans-serif">Cùng Kymdan Khai Nguyên đi tìm chiếc nệm phù hợp nhất với
            bạn và gia đình chỉ trong vài bước đơn giản</h4>
        </div>

        <div class="col-sm-3" style="text-align: center">
          <img src="https://vuanem.com/image/footer/footer_top_2.png">
          <h3 style="font-size: 20px">365 đêm</h3>
          <h2 style="font-weight: bold; margin-top: -22px">nằm thử</h2>
          <h4 style="font-family: Averta,Helvetica,sans-serif">Hãy “làm quen” với người bạn đồng hành trong hành trình
            đi tìm giấc mơ đẹp nào</h4>
        </div>

        <div class="col-sm-3" style="text-align: center">
          <img src="https://vuanem.com/image/footer/footer_top_31.png">
          <h3 style="font-size: 20px">Trả góp</h3>
          <h2 style="font-weight: bold; margin-top: -22px">0% lãi suất</h2>
          <h4 style="font-family: Averta,Helvetica,sans-serif">Ngủ ngon mà vẫn dày ví, xua tan nỗi lo tài chính khi sử
            dụng những sản phẩm cao cấp, chất lượng</h4>
        </div>

        <div class="col-sm-3" style="text-align: center">
          <img src="https://vuanem.com/image/footer/footer_top_4.png">
          <h3 style="font-size: 20px">Vận chuyển</h3>
          <h2 style="font-weight: bold; margin-top: -22px">miễn phí</h2>
          <h4 style="font-family: Averta,Helvetica,sans-serif">Giao hàng tận giường, miễn phí các đơn hàng từ 10.000.000đ
            trở lên đối với tất cả sản phẩm</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>

<div class="container-fluid" *ngIf="quyen != 'Nothing' && quyen != 'Khách Hàng'" style="text-align: center">
  <img src="assets/404.png" style="width: 45%">
</div>
