.size {
  border: 2px solid green;
  border-radius: 5px;
  width: 125px;
  height: 40px;
  margin: 5px 0 0 10%
}

.status {
  border: 2px solid green;
  border-radius: 5px;
  width: 100px;
  height: 35px;
}
