<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form (ngSubmit)="them()" [formGroup]="formThem">

      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: green" id="add">
          <strong style="font-size: 25px">Thêm sản phẩm khuyến mãi</strong>
        </h3>

        <mat-error *ngIf="thongBao && thongBao != 'Thêm sản phẩm khuyến mãi thành công !'" style="margin-top: -9px">
          {{thongBao}}
        </mat-error>
      </div>

      <div>
        <div class="row">
          <mat-form-field>
            <mat-label>Mã sản phẩm<sup class="text-danger"> *</sup></mat-label>
            <input matInput formControlName="maSanPham">
            <mat-error *ngIf="formThem.controls.maSanPham.errors?.required">Mã sản phẩm không đươc để trống.
            </mat-error>
            <mat-error *ngIf="formThem.controls.maSanPham.errors?.pattern">
              Mã sản phẩm không đúng quy định. Mã sản phẩm có dạng SP-XXXXXXX với X là số từ 0 đến 9.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field>
            <mat-label>Giảm giá (%)<sup class="text-danger"> *</sup></mat-label>
            <input matInput formControlName="giamGia">
            <mat-error *ngIf="formThem.controls.giamGia.errors?.required">Giảm giá không đươc để trống.
            </mat-error>
            <mat-error *ngIf="formThem.controls.giamGia.errors?.pattern">
              % giảm giá phải là số nguyên lớn hơn 0 và nhỏ hơn 100.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row mt-2">
          <div class="col-sm-3"></div>
          <div class="col-sm-6 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Thêm</button>
            <button type="button" class="btn btn-warning ml-3" (click)="huy()">Hủy</button>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
