<div class="container-fluid bg-white">
  <div class="row border" style="border-radius: 20px">
    <div class="col-sm-6"><img src="assets/sanPham2.jpg" alt="" style="width: 100%"></div>
    <div class="col-sm-6 pt-1">
      <div class="d-flex justify-content-center">
        <h1>Đăng ký tài khoản</h1>
      </div>

      <div class="p-0">
        <form (ngSubmit)="dangKy()" [formGroup]="formDangKy">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <mat-label>Tên đăng nhập<sup class="text-danger"> *</sup></mat-label>
                <input matInput formControlName="tenDangNhap">
                <mat-error *ngIf="formDangKy.controls.tenDangNhap.errors?.required">
                  Tên đăng nhập không đươc để trống.
                </mat-error>
                <mat-error *ngIf="formDangKy.controls.tenDangNhap.errors?.pattern">
                  Tên đăng nhập không đúng định dạng.
                </mat-error>
                <mat-error *ngIf="formDangKy.controls.tenDangNhap.errors?.minlength
                              && !formDangKy.controls.tenDangNhap.errors?.pattern">
                  Tên đăng nhập tối thiểu 5 kí tự.
                </mat-error>
                <mat-error *ngIf="formDangKy.controls.tenDangNhap.errors?.maxlength
                              && !formDangKy.controls.tenDangNhap.errors?.pattern">
                  Tên đăng nhập tối đa 50 kí tự.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <mat-label>Email<sup class="text-danger"> *</sup></mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="formDangKy.controls.email.errors?.required">Email không được để trống.</mat-error>
                <mat-error *ngIf="formDangKy.controls.email.errors?.pattern">Sai định dạng email.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <mat-label>Mật khẩu<sup class="text-danger"> *</sup></mat-label>
                <input type="password" matInput formControlName="matKhau">
                <mat-error *ngIf="formDangKy.controls.matKhau.errors?.required">Mật khẩu không được để trống.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <mat-label>Xác nhận mật khẩu<sup class="text-danger"> *</sup></mat-label>
                <input type="password" matInput formControlName="xacNhanMatKhau" [errorStateMatcher]="soTrung">
                <mat-error *ngIf="formDangKy.controls.xacNhanMatKhau.errors?.required">Xác nhận mật khẩu không đươc
                  để trống.
                </mat-error>
                <mat-error *ngIf="formDangKy.controls.xacNhanMatKhau.errors?.confirmedValidator">
                  Mật khẩu không trùng khớp.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <mat-label>Số điện thoại<sup class="text-danger"> *</sup></mat-label>
                <input matInput formControlName="soDienThoai">
                <mat-error *ngIf="formDangKy.controls.soDienThoai.errors?.required">Số điện thoại không đươc để trống.
                </mat-error>
                <mat-error *ngIf="formDangKy.controls.soDienThoai.errors?.pattern">Số điện thoại không đúng định dạng.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field>
                <mat-label>Ngày sinh<sup class="text-danger"> *</sup></mat-label>
                <input matInput [matDatepicker]="picker" formControlName="ngaySinh">
                <mat-error *ngIf="formDangKy.controls.ngaySinh.errors?.required">Ngày sinh không đươc để trống.
                </mat-error>
                <mat-error *ngIf="formDangKy.controls.ngaySinh.errors?.ageError
                              && !formDangKy.controls.ngaySinh.errors?.required">
                  Tuổi phải lớn hơn 16 và nhỏ hơn 150.
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width">
                <mat-label>Địa chỉ<sup class="text-danger"> *</sup></mat-label>
                <input matInput formControlName="diaChi">
                <mat-error *ngIf="formDangKy.controls.diaChi.errors?.required">Địa chỉ không đươc để trống.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field>
                <mat-label>Giới tính<sup class="text-danger"> *</sup></mat-label>
                <mat-select formControlName="gioiTinh">
                  <mat-option value='Nam'>Nam</mat-option>
                  <mat-option value='Nữ'>Nữ</mat-option>
                </mat-select>
                <mat-error *ngIf="formDangKy.controls.gioiTinh.errors?.required">Giới tính không đươc để trống.
                </mat-error>
              </mat-form-field>
              <div class="col-sm-2"></div>
            </div>
          </div>

          <div class="row mt-1 d-flex justify-content-center" style="margin: -15px 0 5px 0">
            <mat-error *ngIf="thongBao">{{thongBao}}</mat-error>
          </div>

          <div class="row pb-3 mt-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 d-flex justify-content-center">
              <button mat-button type="submit">Đăng ký</button>
            </div>
            <div class="col-sm-3"></div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
