<div class="container-fluid">
  <div class="table-responsive" *ngIf="gioHang.length != 0 && quyen === 'Khách Hàng'">
    <div class="table-wrapper table-striped">

      <div class="table-title">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h1 class="text-center" style="font-weight: bold; font-size: 35px; color: green">Giỏ hàng</h1>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>

      <table class="table table-bordered mt-3">
        <thead>
        <tr style="font-size: 17px">
          <th>STT</th>
          <th>Chọn</th>
          <th>Sản phẩm</th>
          <th>Kích thước (cm)</th>
          <th>Giá bán (VND)</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
          <th>Trạng thái</th>
          <th>Xóa</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let phanTu of gioHang ; let i = index">
          <td>{{i + 1}}</td>
          <td>

          </td>
          <td style="text-align: left; width: 490px" (click)="xemSanPham(i)">
            <div class="row">
              <img src="{{phanTu.hinh}}" style="width: 17%; margin: 0 10px">
              <h2 style="margin-top: -7px">{{phanTu.ten}}</h2>
            </div>
          </td>
          <td>{{phanTu.kichThuoc}}</td>
          <td>{{phanTu.gia}}</td>
          <td>{{phanTu.soLuong}}</td>
          <td>{{phanTu.tongTien}}</td>
          <td>{{phanTu.trangThai}}</td>
          <td>
            <a class="delete" title="Xóa" data-toggle="tooltip" [routerLink]="['/gio-hang']">
              <i class="material-icons" (click)="xoa(phanTu.ma)">&#xE872;</i></a>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="clearfix"></div>
    </div>
  </div>

  <div style="text-align: center" *ngIf="gioHang.length == 0 && quyen === 'Khách Hàng'">
    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/cart/9bdd8040b334d31946f49e36beaf32db.png"
         alt="" style="width: 10%">
    <h2>Giỏ hàng của bạn còn trống</h2>
    <button mat-button class="btn btn-success" style="background-color: green; color: white"
            [routerLink]="['/danh-sach-loai']">
      Mua ngay
    </button>
  </div>

  <div style="text-align: center" *ngIf="quyen !== 'Khách Hàng'">
    <h1 style="color: red">Không tìm thấy trang</h1>
  </div>
</div>
