<div class="d-flex justify-content-center">
  <h1>Thay đổi mật khẩu</h1>
</div>

<div class="p-0">
  <form (ngSubmit)="sua()" [formGroup]="formSuaMatKhau">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <mat-form-field class="example-full-width">
          <mat-label>Mật khẩu cũ<sup class="text-danger"> *</sup></mat-label>
          <input type="password" matInput formControlName="matKhauCu">
          <mat-error *ngIf="formSuaMatKhau.controls.matKhauCu.errors?.required">Mật khẩu cũ không được để trống.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <mat-form-field class="example-full-width">
          <mat-label>Mật khẩu mới<sup class="text-danger"> *</sup></mat-label>
          <input type="password" matInput formControlName="matKhauMoi">
          <mat-error *ngIf="formSuaMatKhau.controls.matKhauMoi.errors?.required">Mật khẩu mới không được để trống.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <mat-form-field class="example-full-width">
          <mat-label>Xác nhận mật khẩu<sup class="text-danger"> *</sup></mat-label>
          <input type="password" matInput formControlName="xacNhanMatKhauMoi" [errorStateMatcher]="soTrung">
          <mat-error *ngIf="formSuaMatKhau.controls.xacNhanMatKhauMoi.errors?.required">
            Xác nhận mật khẩu không đươc để trống.
          </mat-error>
          <mat-error *ngIf="formSuaMatKhau.controls.xacNhanMatKhauMoi.errors?.confirmedValidator">
            Mật khẩu không trùng khớp.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 d-flex justify-content-center">
        <button mat-dialog-close mat-button type="button">Hủy bỏ</button>
        <button mat-button type="submit" style="margin-left: 5px">Xác nhận</button>
      </div>
      <div class="col-sm-3"></div>
    </div>

  </form>
</div>
