<div class="container-fluid bg-white">
  <div class="row border" style="border-radius: 20px">
    <div class="col-sm-6 pt-1">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="row" style="margin-left: 1px" *ngIf="!xacNhanThanhToan">
            <h1>Thông tin khách hàng</h1>
          </div>
          <div class="row" *ngIf="xacNhanThanhToan">
            <div class="col-sm-7">
              <h1>Xác nhận thông tin</h1>
            </div>
            <div class="col-sm-5">
              <button class="btn btn-success" style="height: 35px; width: 152px; margin-left: 27px"
                      (click)="thayDoiThongTin()">
                Thay đổi thông tin
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>

      <div class="p-0">
        <form (ngSubmit)="xacNhanThongTin()" [formGroup]="formDatHang">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width" *ngIf="!xacNhanThanhToan">
                <mat-label>Họ tên người nhận<sup class="text-danger"> *</sup></mat-label>
                <input matInput formControlName="ten">
                <mat-error *ngIf="formDatHang.controls.ten.errors?.required">
                  Họ tên người nhận không đươc để trống.
                </mat-error>
                <mat-error *ngIf="formDatHang.controls.ten.errors?.pattern">
                  Họ tên người nhận không đúng định dạng.
                </mat-error>
                <mat-error *ngIf="formDatHang.controls.ten.errors?.minlength">Họ tên người nhận tối thiểu 5 kí tự.
                </mat-error>
                <mat-error *ngIf="formDatHang.controls.ten.errors?.maxlength">Họ tên người nhận tối đa 50 kí tự.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" *ngIf="xacNhanThanhToan">
                <mat-label>Họ tên người nhận</mat-label>
                <input matInput formControlName="ten" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width" *ngIf="!xacNhanThanhToan">
                <mat-label>Số điện thoại<sup class="text-danger"> *</sup></mat-label>
                <input matInput formControlName="soDienThoai">
                <mat-error *ngIf="formDatHang.controls.soDienThoai.errors?.required">Số điện thoại không đươc để trống.
                </mat-error>
                <mat-error *ngIf="formDatHang.controls.soDienThoai.errors?.pattern">Số điện thoại không đúng định dạng.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" *ngIf="xacNhanThanhToan">
                <mat-label>Số điện thoại</mat-label>
                <input matInput formControlName="soDienThoai" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width" *ngIf="!xacNhanThanhToan">
                <mat-label>Địa chỉ<sup class="text-danger"> *</sup></mat-label>
                <input matInput formControlName="diaChi">
                <mat-error *ngIf="formDatHang.controls.diaChi.errors?.required">Địa chỉ không đươc để trống.
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" *ngIf="xacNhanThanhToan">
                <mat-label>Địa chỉ</mat-label>
                <input matInput formControlName="diaChi" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
              <mat-form-field class="example-full-width" *ngIf="!xacNhanThanhToan">
                <mat-label>Ngày nhận<sup class="text-danger"> *</sup></mat-label>
                <input matInput [matDatepicker]="ngayNhan" formControlName="ngayNhan" [min]="ngayHienTai">
                <mat-datepicker-toggle matSuffix [for]="ngayNhan"></mat-datepicker-toggle>
                <mat-datepicker #ngayNhan></mat-datepicker>
                <mat-error *ngIf="formDatHang.controls.ngayNhan.errors?.required">Ngày nhận không đươc để trống.
                </mat-error>
                <mat-error *ngIf="formDatHang.controls.ngayNhan?.invalid
                      && !formDatHang.controls.ngayNhan.errors?.required
                      && (formDatHang.controls.ngayNhan?.dirty || formDatHang.controls.ngayNhan?.touched)">
                  Ngày nhận không hợp lệ ! Ngày nhận không được nhỏ hơn ngày hiện tại !
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width" *ngIf="xacNhanThanhToan">
                <mat-label>Ngày nhận</mat-label>
                <input matInput [value]="formDatHang.value.ngayNhan | date" readonly>
              </mat-form-field>
            </div>
            <div class="col-sm-2"></div>
          </div>

          <div class="row mt-1 d-flex justify-content-center" style="margin: -15px 0 5px 0">
            <mat-error *ngIf="thongBao">{{thongBao}}</mat-error>
          </div>

          <div class="row pb-3 mt-2">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <div class="row">
                <button mat-button class="btn btn-success" *ngIf="!xacNhanThanhToan" (click)="luuThongTin()"
                        style="width: 143px; margin-right: 15px; margin-left: 14%">
                  Tiếp tục mua sắm
                </button>
                <button mat-button class="btn btn-success" *ngIf="!xacNhanThanhToan"
                        style="background-color: rgba(255,0,0,0.77)"
                        type="submit">
                  Thanh toán
                </button>
              </div>

              <div class="row">
                <button mat-button class="btn btn-success" *ngIf="xacNhanThanhToan" (click)="thanhToan()"
                        style="background-color: rgba(255,0,0,0.77); width: 195px; height: 35px">
                  Thanh toán khi nhận hàng
                </button>
                <p #paypalRef [hidden]="!xacNhanThanhToan" style="margin-left: 29px"></p>
              </div>
            </div>
            <div class="col-sm-3"></div>
          </div>

        </form>
      </div>
    </div>

    <div class="col-sm-6 pt-1">
      <h1>Giỏ hàng</h1>
      <div class="row mt-4" *ngFor="let phanTu of gioHang ; let i = index">
        <div class="col-sm-3">
          <img style="width: 100%; height: 131px ;margin-bottom: 5px" src="{{phanTu.hinh}}" alt="">
        </div>

        <div class="col-sm-9">
          <h1 style="color: green">{{phanTu.ten}}</h1>
          <hr style="margin-top: -15px">
          <h3 style="margin-top: -5px">Kích thước : <span style="color: green">{{phanTu.kichThuoc}} cm</span></h3>
          <h3 style="margin-top: -15px">Giá bán : <span style="color: green">{{phanTu.gia}} VND</span></h3>
          <h3 style="margin-top: -15px" *ngIf="xacNhanThanhToan">Số lượng : <span style="color: green">
            {{phanTu.soLuong}} cái</span>
          </h3>
          <div style="margin-top: -11px" *ngIf="!xacNhanThanhToan">
            <i class="fa fa-minus-square" aria-hidden="true" style="font-size: 25px; color: rgb(179,179,179)"
               (click)="chonSoLuong(1, i)"></i>
            <span class="ml-3 mr-3" style="font-size: 25px; color: green">{{phanTu.soLuong}}</span>
            <i class="fa fa-plus-square" aria-hidden="true" style="font-size: 25px; color: rgb(179,179,179)"
               (click)="chonSoLuong(2, i)"></i>
          </div>
          <!--          <h3 style="margin-top: 1px">Tổng tiền : <span style="color: green">{{phanTu.tongTien}} VND</span></h3>-->
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-7" style="text-align: left">
          <h2>Tạm tính</h2>
          <h2 style="margin-top: -17px">Vận chuyển</h2>
        </div>

        <div class="col-sm-5" style="text-align: right">
          <h2 style="margin-right: 15px">{{tongTienHienThi}} VND</h2>
          <h2 style="color: green; margin-top: -17px; margin-right: 15px">Miễn phí</h2>
        </div>
      </div>

      <hr style="margin-top: -17px">

      <div class="row">
        <div class="col-sm-7" style="text-align: left">
          <h2>Tổng</h2>
        </div>

        <div class="col-sm-5" style="text-align: right">
          <h2 style="color: red; margin-right: 15px">{{tongTienHienThi}} VND</h2>
        </div>
      </div>

    </div>

  </div>
</div>
