.search-box .input-group-addon, .search-box input {
  border-color: #ddd;
  border-radius: 0;
}

.search-box .input-group-addon {
  border: none;
  border: none;
  background: transparent;
  position: absolute;
  z-index: 99;
}

.search-box input {
  height: 34px;
  padding-left: 28px;
  box-shadow: none !important;
  border-width: 0 0 1px 0;
}

.search-box input:focus {
  border-color: #3FBAE4;
}

.search-box i {
  color: #a0a5b1;
  font-size: 17px;
  position: relative;
  top: 6px;
  left: 5px;
}
