<div class="container-fluid">
  <div class="table-responsive">
    <div class="table-wrapper table-striped">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h1 class="text-center" style="font-weight: bold; color: green">Danh sách đơn hàng</h1>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>

      <table class="table table-bordered mt-3" *ngIf="danhSachLoc.length != 0">
        <thead>
        <tr style="font-size: 17px">
          <th>STT</th>
          <th>Mã đơn hàng</th>
          <th>Khách hàng</th>
          <th>Địa chỉ</th>
          <th>Số điện thoại</th>
          <th>Ngày đặt</th>
          <th>Ngày nhận</th>
          <th>Thanh toán</th>
          <th>Nhân viên phân công</th>
          <th>Trạng thái</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let phanTu of danhSachLoc ; let i = index">
          <td>{{i + 1}}</td>
          <td>{{phanTu.ma}}</td>
          <td>{{phanTu.khachHang.ten}}</td>
          <td>{{phanTu.diaChi}}</td>
          <td>{{phanTu.soDienThoai}}</td>
          <td>{{phanTu.ngayDat}}</td>
          <td>{{phanTu.ngayNhan}}</td>
          <td>{{phanTu.cachThanhToan}}</td>
          <td>{{phanTu.nhanVien.ten}}</td>
          <td *ngIf="phanTu.trangThai == 'Đã phân công'">Chưa giao</td>
          <td *ngIf="phanTu.trangThai != 'Đã phân công'">{{phanTu.trangThai}}</td>
          <td>
            <a *ngIf="phanTu.trangThai == 'Đã phân công'"
               [routerLink]="['/chuyen-hang']" (click)="chuyenTrangThai(phanTu.ma)"
               class="edit" title="Chuyển trạng thái" data-toggle="tooltip">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a *ngIf="phanTu.trangThai != 'Đã phân công'" [routerLink]="['/chuyen-hang']"
               class="edit" title="Chuyển trạng thái" data-toggle="tooltip" style="color: grey">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="clearfix"></div>
    </div>
  </div>

  <div style="text-align: center" *ngIf="danhSachLoc.length == 0">
    <h1 style="font-weight: bold; color: red">Chưa có dữ liệu !</h1>
  </div>
</div>
