<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form (ngSubmit)="phanCong()" [formGroup]="formPhanCong">

      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: green" id="add">
          <strong style="font-size: 25px">Phân công giao hàng</strong>
        </h3>

        <mat-error *ngIf="thongBao && thongBao != 'Thành công !'" style="margin-top: -9px">
          {{thongBao}}
        </mat-error>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Số hóa đơn<sup class="text-danger"> *</sup></mat-label>
          <input matInput formControlName="maHoaDon">
          <mat-error *ngIf="formPhanCong.controls.maHoaDon.errors?.required">Số hóa đơn không đươc để trống.
          </mat-error>
          <mat-error *ngIf="formPhanCong.controls.maHoaDon.errors?.pattern">
            Số hóa đơn không đúng quy định. Mã hóa đơn có dạng HD-XXXXXXX với X là số từ 0 đến 9.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field>
          <mat-label>Mã số thuế<sup class="text-danger"> *</sup></mat-label>
          <input matInput formControlName="maSoThue">
          <mat-error *ngIf="formPhanCong.controls.maSoThue.errors?.required">Mã số thuế không đươc để trống.
          </mat-error>
          <mat-error *ngIf="formPhanCong.controls.maSoThue.errors?.pattern">
            Mã số thuế không đúng quy định. Mã hóa đơn có dạng XXXXXXXXXX với X là số từ 0 đến 9.
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <div class="row">
          <mat-form-field>
            <mat-label>Mã đơn hàng</mat-label>
            <input matInput formControlName="donHang" readonly>
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field>
            <mat-label>Nhân viên giao hàng<sup class="text-danger"> *</sup></mat-label>
            <mat-select formControlName="giaoHang">
              <mat-option *ngFor="let phanTu of danhSach" [value]="phanTu.ma">
                {{phanTu.ten}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formPhanCong.controls.giaoHang.errors?.required">Nhân viên giao hàng không đươc để trống.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row mt-3">
          <div class="col-sm-3"></div>
          <div class="col-sm-6 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Xác nhận</button>
            <button mat-dialog-close type="button" class="btn btn-warning ml-3">Hủy</button>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
