<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form (ngSubmit)="sua()" [formGroup]="formSua">

      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: green" id="add">
          <strong style="font-size: 25px">Sửa khuyến mãi</strong>
        </h3>

        <mat-error *ngIf="thongBao && thongBao != 'Sửa thành công !'">{{thongBao}}</mat-error>
      </div>

      <div>
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Mã khuyến mãi</mat-label>
              <input matInput formControlName="ma" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Tên khuyến mãi</mat-label>
              <input matInput formControlName="ten" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Mô tả <i style="margin-left: 5px" class="fa fa-pencil"></i></mat-label>
              <input matInput formControlName="moTa">
              <mat-error *ngIf="formSua.controls.moTa.errors?.required">Mô tả không đươc để trống.
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Ngày bắt đầu <i style="margin-left: 5px" class="fa fa-pencil"></i></mat-label>
              <input matInput [matDatepicker]="ngayBatDau" formControlName="ngayBatDau"
                     [min]="gioiHanTruoc" [max]="gioiHanSau"
                     (dateChange)="gioiHanNgayKetThuc(ngayBatDau)">
              <mat-datepicker-toggle matSuffix [for]="ngayBatDau"></mat-datepicker-toggle>
              <mat-datepicker #ngayBatDau></mat-datepicker>
              <mat-error *ngIf="formSua.controls.ngayBatDau.errors?.required">Ngày bắt đầu không đươc để trống.
              </mat-error>
              <mat-error *ngIf="formSua.controls.ngayBatDau?.invalid
                      && !formSua.controls.ngayBatDau.errors?.required
                      && (formSua.controls.ngayBatDau?.dirty || formSua.controls.ngayBatDau?.touched)">
                Ngày bắt đầu không hợp lệ !
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Ngày kết thúc <i style="margin-left: 5px" class="fa fa-pencil"></i></mat-label>
              <input matInput [matDatepicker]="ngayKetThuc" formControlName="ngayKetThuc"
                     [min]="gioiHanNgay" [max]="gioiHanSau"
                     (dateChange)="chonLaiNgayKetThuc(ngayBatDau)">
              <mat-datepicker-toggle matSuffix [for]="ngayKetThuc"></mat-datepicker-toggle>
              <mat-datepicker #ngayKetThuc></mat-datepicker>
              <mat-error *ngIf="formSua.controls.ngayKetThuc.errors?.required">Ngày kết thúc không đươc để trống.
              </mat-error>
              <mat-error *ngIf="formSua.controls.ngayKetThuc?.invalid
                      && !formSua.controls.ngayKetThuc.errors?.required
                      && (formSua.controls.ngayKetThuc?.dirty || formSua.controls.ngayKetThuc?.touched)">
                Ngày kết thúc không hợp lệ !
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-3"></div>
          <div class="col-sm-6 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Cập nhật</button>
            <button mat-dialog-close type="button" class="btn btn-warning ml-3">Hủy</button>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
