<div class="container-fluid">
  <div style="text-align: center">
    <h1>Bảng thống kê doanh thu 5 tháng gần nhất</h1>
  </div>
  <h3 style="font-weight: bold; color: green; margin-left: 65px">Đơn vị : triệu VND</h3>
  <kendo-chart>
    <kendo-chart-area [margin]="35">
    </kendo-chart-area>
    <kendo-chart-category-axis>
      <kendo-chart-category-axis-item [categories]="thang">
      </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item [data]="duLieu">
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>
