<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <form>
      <div class="text-center">
        <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-2" style="color: green" id="add">
          <strong style="font-size: 25px">Chi tiết khuyến mãi</strong>
        </h3>
      </div>

      <div>
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Mã khuyến mãi</mat-label>
              <input matInput [value]="khuyenMai.ma" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Tên khuyến mãi</mat-label>
              <input matInput [value]="khuyenMai.ten" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Mô tả</mat-label>
              <input matInput [value]="khuyenMai.moTa" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-7">
            <mat-form-field>
              <mat-label>Mã sản phẩm</mat-label>
              <input matInput [value]="maSanPham" readonly>
            </mat-form-field>
          </div>
          <div class="col-sm-5">
            <mat-form-field>
              <mat-label>Giảm giá (%)</mat-label>
              <input matInput [value]="giamGia" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Ngày bắt đầu</mat-label>
              <input matInput [value]="khuyenMai.ngayBatDau" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <mat-form-field>
              <mat-label>Ngày kết thúc</mat-label>
              <input matInput [value]="khuyenMai.ngayKetThuc" readonly>
            </mat-form-field>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-sm-3"></div>
          <div class="col-sm-6 d-flex justify-content-center">
            <button mat-dialog-close type="button" class="btn btn-warning ml-3">Đóng</button>
          </div>
          <div class="col-sm-3"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2"></div>
</div>
